/*
## Colors

### Primary

- Soft Blue: hsl(231, 69%, 60%)
- Soft Red: hsl(0, 94%, 66%)

### Neutral

- Grayish Blue: hsl(229, 8%, 60%)
- Very Dark Blue: hsl(229, 31%, 21%)

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* HEADER */

nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}
/* HAMBUREGER MENU */
.hamburger__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
  z-index: 999;
}
.hamburger__bar {
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.hamburger__bar::before,
.hamburger__bar::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.hamburger__bar::after {
  transform: translateY(-10px);
}
.hamburger__bar::before {
  transform: translateY(10px);
}

/* NAVBAR  */
.navbar__list img,
.social__media--nav {
  display: none;
}
.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: top 1s ease;
  overflow-y: hidden;
}
.navbar__item {
  padding: 1em;
}
.navbar__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar__link:hover {
  color: hsl(0, 94%, 66%);
}
.btn {
  font-size: 18px;
  padding: 12px 24px;
  margin: 0.5em;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  border: 0;
  cursor: pointer;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.2);
}
.btn__login {
  background: hsl(0, 94%, 66%);
  color: white;
  border: 3px solid hsl(0, 94%, 66%);
  margin: 0.5em;
}
.btn__login:hover {
  background: white;
  color: hsl(0, 94%, 66%);
}
.btn__registern {
  background: hsl(231, 69%, 60%);
  color: white;
  border: 3px solid hsl(231, 69%, 60%);
  margin: 0.5em;
}
.btn__registern:hover {
  background: white;
  color: hsl(231, 69%, 60%);
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 150px auto 100px;
}
.banner__left,
.banner__right {
  flex-basis: 50%;
  width: 100%;
}

/* HERO LEFT SIDE */

.banner__left {
  max-width: 750px;
  padding: 3em;
}
.banner__left h2 {
  font-size: 60px;
  font-weight: 500;
}
.banner__left p {
  color: hsl(229, 8%, 60%);
  line-height: 1.5;
  margin: 1em;
}
.btn__firefox {
  background-color: hsl(229, 8%, 40%);
  color: white;
  border: 3px solid hsl(229, 8%, 40%);
}
.btn__firefox:hover {
  background-color: white;
  color: hsl(229, 31%, 21%);
}
.btn__chrome {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: 3px solid hsl(231, 69%, 60%);
}
.btn__chrome:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
}
.btn__text {
  display: inline-block;
  background: none;
  font-size: 25px;
  font-family: inherit;
  font-weight: 500;
  color: hsl(231, 69%, 50%);
  border: none;
  margin: 12px 24px;

  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
}

/* HERO RIGHT SIDE */

.banner__right {
  width: 100%;
  height: 100%;
}
.hero__illustration {
  width: 100%;
  justify-self: right;
}
.pillar {
  width: 35%;
  height: 40%;
  background: hsl(231, 69%, 60%);
  position: absolute;
  bottom: 17%;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 1000px;
}

/* FEATURES SECTION */

.section {
  width: 100%;
  text-align: center;
  position: relative;

  transition: transform 2s, opacity 1s;
}
.section__hidden {
  opacity: 0;
  transform: traslateY(10rem);
}
.section__description {
  font-size: 30px;
  font-weight: 500;
}
.section__content {
  margin: 20px auto 50px;
  max-width: 500px;
  color: hsl(229, 8%, 60%);
}
.operation__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box__operation {
  margin: 0 auto;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.operation__btn {
  padding: 15px 2.5em;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  border: 0;
  background: transparent;
  color: hsl(229, 8%, 40%);
  cursor: pointer;
}
.operation__btn:hover {
  color: hsl(0, 94%, 66%);
}
.operation__btn--active {
  border-bottom: 4px solid hsl(0, 94%, 66%);
  color: black;
}

/* OPERATION CONTENT FEATURES */

.operation__content {
  display: none;
}
.operation__content--active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 100px auto 150px;
  flex-wrap: wrap;
}
.operation__illustration {
  flex-basis: 50%;
  width: 100%;
}
.operation__illustration img {
  width: 90%;
}
.operation__info {
  flex-basis: 50%;
  padding: 50px;
  max-width: 600px;
  text-align: left;
}
.operation__info h1 {
  font-size: 30px;
  font-weight: 500;
}
.operation__info p {
  padding: 20px 0;
  line-height: 1.5;
  color: hsl(229, 8%, 60%);
}
.btn__more {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: 3px solid hsl(231, 69%, 60%);
}
.btn__more:hover {
  color: hsl(231, 69%, 60%);
  background: white;
}
.operation__pillar {
  width: 35%;
  height: 40%;
  background: hsl(231, 69%, 60%);
  position: absolute;
  bottom: -5%;
  left: 0;
  z-index: -1;
  border-bottom-right-radius: 1000px;
}

/* EXTENSION SECTION */

.extension__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto 300px;
}
.extension__card {
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-width: 300px;
}
.extension__card img {
  margin: 50px 0 15px;
}
.extension__title {
  font-weight: 500;
  font-size: 20px;
}
.extension__version {
  padding: 15px 0 25px;
  border-bottom: 9px dotted hsl(229, 8%, 90%);
  color: hsl(229, 8%, 50%);
}
.btn__extension {
  font-size: 18px;
  padding: 12px 12px;
  margin: 0.5em;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  border: 0;
  cursor: pointer;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: 3px solid hsl(231, 69%, 60%);
}
.btn__extension:hover {
  color: hsl(231, 69%, 60%);
  background: white;
}
.extension__card:nth-child(2) {
  transform: translateY(50px);
}
.extension__card:nth-child(3) {
  transform: translateY(100px);
}

/* SECTION FAQ */

.faq__field {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.faq__field .btn__more {
  align-self: center;
}
.faq__card {
  padding: 10px 0;
  margin: 20px 0;
  display: flex;
  text-align: left;
  justify-content: space-between;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  cursor: pointer;
}
.faq__card:hover {
  color: hsl(0, 94%, 66%);
}
.faq__question {
  font-weight: 500;
}
.faq__answer {
  color: hsl(229, 8%, 60%);
  margin: 30px 0 20px;
  line-height: 1.5;
}
.fas {
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
}
.fas:active {
  transform: scale(0.97);
}
.fas.fa-chevron-up {
  color: hsl(0, 94%, 66%);
  align-self: center;
}
.fas.fa-chevron-down {
  color: hsl(231, 69%, 60%);
  align-self: center;
}
.faq__card .fas.fa-chevron-up {
  display: none;
}
.faq__card .faq__answer {
  display: none;
}

/* ACTIVE STATE */

.faq__card--active .faq__answer {
  display: block;
}
.faq__card--active .fas.fa-chevron-up {
  display: inline-block;
}
.faq__card--active .fas.fa-chevron-down {
  display: none;
}

/* EMAIL CONTACT US */
#section__4 {
  margin: 100px 0 0;
  background: hsl(231, 69%, 60%);
}
.section__title-contact {
  max-width: 550px;
  margin: 0 auto;
}
.section__description--contact {
  padding: 50px 0 30px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}
.section__content--contact {
  color: white;
  font-size: 40px;
}
.btn__contact {
  background: white;
  border: 3px solid white;
}
.btn__contact:hover {
  color: hsl(0, 94%, 66%);
  border: 3px solid hsl(0, 94%, 66%);
}
#btn {
  padding: 10px 24px;
  margin: 50px;
}
/* FOOTER */

footer {
  background: hsl(231, 69%, 50%);
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.logo__footer {
  color: white;
  cursor: pointer;
}
.footer__navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.footer__navbar__link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__navbar__link:hover {
  color: hsl(0, 94%, 66%);
}
.fab {
  font-size: 30px;
  margin: 20px 20px;
  cursor: pointer;
}
.fab:hover {
  color: hsl(0, 94%, 66%);
}

/* COOKIE MESSAGE */

.cookie {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70px;
  width: 100%;
  color: hsl(229, 8%, 70%);
  background: hsl(229, 8%, 20%);
  font-weight: 400;
}

/* MODAL WINDOW */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  background-color: #eee;
  padding: 50px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
}

.modal__form label {
  font-size: 20px;
  font-weight: 500;
}

.modal__form input {
  font-size: 20px;
  padding: 15px 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 20px;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

/*  MEDIA */

@media screen and (max-width: 1440px) {
  .extension__card {
    margin: 15px;
    min-width: 270px;
  }
  .faq__field {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .banner {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto 100px;
  }
  .banner__left,
  .banner__right,
  .operation__info,
  .operation__illustration {
    flex-basis: 100%;
  }
  .banner__right {
    order: 1;
  }
  .hero__illustration {
    width: 60%;
    transform: translateX(150px);
  }
  .banner__left {
    order: 2;
    text-align: center;
    padding: 20px 30px 0;
  }
  .banner__left h2 {
    font-size: 45px;
  }
  .pillar {
    width: 70%;
    height: 25%;
    top: 22%;
    right: 0;
  }

  /* FEATURES */
  .operation__content {
    display: none;
  }
  .operation__content--active {
    display: flex;
    flex-direction: column;
  }
  .box__operation {
    display: flex;
    flex-direction: column;
  }
  .operation__btn {
    padding: 15px 2.5em;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    border: 0;
    background: transparent;
    color: hsl(229, 8%, 40%);
    cursor: pointer;
    border-bottom: 1px solid hsl(229, 8%, 40%);
  }
  .operation__btn:nth-child(1) {
    border-top: 1px solid hsl(229, 8%, 40%);
  }
  .operation__btn--active {
    border-bottom: 4px solid hsl(0, 94%, 66%);
    color: black;
  }
  .box__operation {
    border-bottom: none;
  }
  .operation__pillar {
    width: 70%;
    height: 25%;
    bottom: 28%;
    right: 0;
  }
  .operation__info {
    padding: 40px 0 50px;
    max-width: 800px;
    text-align: center;
  }
  .operation__illustration {
    width: 70%;
  }
  /* HAMBURGER MENU */
  .hamburger__menu {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    z-index: 999;
  }
  .hamburger__menu.ani .hamburger__bar {
    display: fixed;
    top: 2rem;
    right: 3rem;
    transform: translateX(-50px);
    background: transparent;
  }
  .hamburger__menu.ani .hamburger__bar::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .hamburger__menu.ani .hamburger__bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .navbar__list {
    display: none;
  }
  .navbar__list img,
  .social__media--nav {
    display: block;
    margin: 30px;
  }

  .navbar__list.open {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(40, 66, 215, 0.9);
  }
  .navbar__item {
    border-bottom: 1px solid white;
  }
  .navbar__item:nth-of-type(1) {
    border-top: 1px solid white;
  }
  .navbar__link {
    color: white;
  }
  .btn__login,
  .btn__registern {
    margin-top: 20px;
  }
  .navbar__list.open .fab {
    font-size: 30px;
    margin: 20px 20px;
    cursor: pointer;
    color: white;
  }
  .navbar__list.open .fab:hover {
    color: hsl(0, 94%, 66%);
  }
  /* EXTENSION */
  .extension__cards {
    flex-direction: column;
    margin: 50px 0 200px;
  }
  .extension__card {
    margin: 10px 0 0;
    min-width: 300px;
  }
  .faq__field {
    width: 65%;
  }
  .modal__header {
    font-size: 30px;
    margin-bottom: 4.5rem;
  }

  .modal__form {
    margin: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer__navbar__menu {
    margin: 20px 0;
    flex-direction: column;
  }
  .footer___navbar__item {
    margin-top: 20px;
  }
  .logo__footer {
    margin-top: 20px;
  }
  .fab {
    font-size: 30px;
    margin: 20px 20p;
    cursor: pointer;
  }
  .section__content--contact {
    font-size: 30px;
  }
  .section__title {
    width: 80%;
    margin: 0 auto;
  }
  .section__description {
    font-size: 25px;
  }
  .section__content {
    font-size: 16px;
  }
  .modal {
    max-width: 80%;
  }
  .modal__header {
    font-size: 30px;
    margin-bottom: 2rem;
  }
  .modal__form {
    margin: 0rem;
  }
}
@media screen and (max-width: 425px) {
  .hero__illustration {
    width: 100%;
    transform: translateX(0);
  }
  .pillar {
    width: 70%;
    height: 25%;
    top: 18%;
    right: 0;
  }
  .banner__left {
    padding: 5px 0;
  }
  .banner__left h2 {
    font-size: 25px;
  }
  .banner__left {
    font-size: 16px;
  }
  .operation__illustration {
    width: 100%;
  }
  .operation__pillar {
    width: 90%;
    height: 20%;
    bottom: 33%;
    right: 0;
  }

  .modal__header {
    font-size: 25px;
    margin-bottom: 2rem;
  }
  .modal {
    padding: 20px;
  }
  .modal__form {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
  }
  .modal__form label {
    font-size: 20px;
    font-weight: 500;
  }
  .modal__form input {
    font-size: 20px;
    padding: 10px 20px;
  }
  .modal__form button {
    grid-column: 1;
  }
}
